Repository Nyam2C/FinClaw: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lint:
  run: npx oxlint --config oxlintrc.json {staged_files}

format-check:
  run: npx oxfmt --check {staged_files}

fix(phase24): 도구 필터링 + fetch 키워드 — chat → Opus 부작용 해결
  packages/agent/src/models/routing.ts
  packages/agent/test/routing.test.ts
  packages/server/src/auto-reply/execution-adapter.ts
  packages/server/src/auto-reply/router-helper.ts
  packages/server/src/gateway/rpc/methods/agent.ts
  plans/phase24/review.md
  plans/phase24/todo.md
Due: lint, format-check

docs(phase27): plan.md — 미국 주식 데이터 소스 확장 (Free APIs + Key Rotation)
  plans/phase27/plan.md
Due: format-check

docs(phase25): augment plan and add executable todo
  plans/phase25/plan.md
  plans/phase25/todo.md
Due: format-check

feat(prompts): externalize persona to .md files (Phase 25 milestone A)
  .oxfmtrc.json
  packages/agent/src/agents/system-prompt.ts
  packages/agent/src/index.ts
  packages/server/package.json
  packages/server/prompts/finclaw.identity.md
  packages/server/prompts/finclaw.system.ko.md
  packages/server/src/gateway/rpc/methods/agent.ts
  packages/server/src/main.ts
  packages/server/src/prompts/loader.ts
Due: lint, format-check

feat(prompts): externalize skill LLM prompts (Phase 25 milestone B)
  packages/skills-finance/package.json
  packages/skills-finance/prompts/news/analyze.brief.en.md
  packages/skills-finance/prompts/news/analyze.brief.ko.md
  packages/skills-finance/prompts/news/analyze.detailed.en.md
  packages/skills-finance/prompts/news/analyze.detailed.ko.md
  packages/skills-finance/prompts/news/analyze.standard.en.md
  packages/skills-finance/prompts/news/analyze.standard.ko.md
  packages/skills-finance/prompts/news/sentiment.system.md
  packages/skills-finance/src/news/analysis/market-analysis.ts
  packages/skills-finance/src/news/analysis/prompt-loader.ts
  packages/skills-finance/src/news/analysis/sentiment.ts
Due: lint, format-check

test(prompts): golden tests + CI guards (Phase 25 milestone C)
  packages/server/src/prompts/__tests__/identity.test.ts
  packages/server/src/prompts/__tests__/loader.test.ts
  packages/server/src/prompts/__tests__/package-files.test.ts
  packages/skills-finance/src/news/analysis/__tests__/analyze-prompts.test.ts
  packages/skills-finance/src/news/analysis/__tests__/package-files.test.ts
  packages/skills-finance/src/news/analysis/__tests__/prompt-loader.test.ts
  scripts/verify-pack-includes-prompts.sh
Due: lint, format-check

feat(prompts): enrich analyze prompts with persona principles + structured schema (Phase 25 milestone D)
  packages/skills-finance/prompts/news/analyze.brief.en.md
  packages/skills-finance/prompts/news/analyze.brief.ko.md
  packages/skills-finance/prompts/news/analyze.detailed.en.md
  packages/skills-finance/prompts/news/analyze.detailed.ko.md
  packages/skills-finance/prompts/news/analyze.standard.en.md
  packages/skills-finance/prompts/news/analyze.standard.ko.md
  packages/skills-finance/src/news/analysis/__tests__/analyze-prompts.test.ts
  packages/skills-finance/src/news/analysis/__tests__/prompt-loader.test.ts
  packages/skills-finance/src/news/analysis/market-analysis.ts
  packages/skills-finance/src/news/types.ts
  plans/phase25/plan.md
  plans/phase25/todo.md
Due: lint, format-check

refactor(storage): rename anthropic embedding provider to voyage
  packages/storage/src/embeddings/provider.ts
  packages/storage/src/embeddings/voyage.ts
Due: lint, format-check

refactor(deliver): extract investment disclaimer to module-level const
  packages/server/src/auto-reply/stages/deliver.ts
Due: lint, format-check

fix(deps): pin discord.js to 14.25.1 — 14.26.x DM regression
  packages/channel-discord/package.json
  pnpm-lock.yaml
Due: format-check

chore: ignore orchestrator _workspace directory
  .gitignore
Due: none

feat(storage): add transactions and agent_runs tables (v3 -> v5)
  packages/storage/src/agent-runs.storage.test.ts
  packages/storage/src/agent-runs.ts
  packages/storage/src/database.test.ts
  packages/storage/src/database.ts
  packages/storage/src/index.ts
  packages/storage/src/transactions.storage.test.ts
  packages/storage/src/transactions.ts
  packages/types/src/agent.ts
  packages/types/src/finance.ts
Due: lint, format-check

feat(server/auto-reply): wire memory capture, retrieval, and agent-memory hook
  packages/server/src/auto-reply/__tests__/agent-memory-hook.storage.test.ts
  packages/server/src/auto-reply/__tests__/agent-run-to-retrieval.boundary.storage.test.ts
  packages/server/src/auto-reply/__tests__/deliver.test.ts
  packages/server/src/auto-reply/__tests__/execution-adapter.test.ts
  packages/server/src/auto-reply/__tests__/memory-capture-retrieval.boundary.storage.test.ts
  packages/server/src/auto-reply/__tests__/memory-capture.storage.test.ts
  packages/server/src/auto-reply/__tests__/memory-retrieval.storage.test.ts
  packages/server/src/auto-reply/__tests__/pipeline.test.ts
  packages/server/src/auto-reply/agent-memory-hook.ts
  packages/server/src/auto-reply/execution-adapter.ts
  packages/server/src/auto-reply/pipeline-context.ts
  packages/server/src/auto-reply/pipeline.ts
  packages/server/src/auto-reply/stages/deliver.ts
  packages/server/src/auto-reply/stages/memory-capture.ts
  packages/server/src/auto-reply/stages/memory-retrieval.ts
Due: lint, format-check

feat(server/rpc): add finance.transaction.*, memory.*, agent.runs.* methods
  packages/server/src/gateway/rpc/methods/agent-runs.test.ts
  packages/server/src/gateway/rpc/methods/agent-runs.ts
  packages/server/src/gateway/rpc/methods/agent.test.ts
  packages/server/src/gateway/rpc/methods/agent.ts
  packages/server/src/gateway/rpc/methods/finance.test.ts
  packages/server/src/gateway/rpc/methods/finance.ts
  packages/server/src/gateway/rpc/methods/memory.test.ts
  packages/server/src/gateway/rpc/methods/memory.ts
  packages/server/src/gateway/server.ts
  packages/server/src/gateway/ws/connection.ts
  packages/server/src/main.ts
  packages/types/src/gateway.ts
Due: lint, format-check

feat(web): add transaction history tab and settings memory/runs UI
  packages/web/src/__tests__/app-gateway.test.ts
  packages/web/src/app-gateway.ts
  packages/web/src/app.ts
  packages/web/src/main.ts
  packages/web/src/views/portfolio-view.ts
  packages/web/src/views/settings-view.ts
  packages/web/src/views/transaction-form.ts
Due: lint, format-check

docs(claude): record Phase 26 harness milestone history
  CLAUDE.md
Due: format-check

docs(phase26): add review and VOYAGE_API_KEY example
  .env.example
  plans/phase26/review.md
Due: format-check

refactor(server/rpc): extract persistAgentRunAndAttach helper
  packages/server/src/gateway/rpc/methods/agent.ts
Due: lint, format-check

refactor(server): extract wireMemoryServices helper
  packages/server/src/main.ts
Due: lint, format-check

docs(phase28): add scheduled agent runs plan
  plans/phase28/plan.md
Due: format-check

fix(server/rpc): preserve SessionKey brand when forwarding to attach
  packages/server/src/gateway/rpc/methods/agent.ts
Due: lint, format-check

docs(phase28): add executable todo from plan.md
  plans/phase28/todo.md
Due: format-check

feat(storage): add schedules table + CRUD with v6 migration (Phase 28 A)
  packages/storage/src/agent-runs.storage.test.ts
  packages/storage/src/database.migration.storage.test.ts
  packages/storage/src/database.test.ts
  packages/storage/src/database.ts
  packages/storage/src/index.ts
  packages/storage/src/schedules.storage.test.ts
  packages/storage/src/schedules.ts
  packages/storage/src/transactions.storage.test.ts
  packages/types/src/automation.ts
  packages/types/src/index.ts
Due: lint, format-check

feat(server/automation): add cron parser + SchedulerService (Phase 28 B)
  packages/server/src/automation/cron.test.ts
  packages/server/src/automation/cron.ts
  packages/server/src/automation/scheduler.ts
Due: lint, format-check

feat(server/rpc): add schedule.* RPC + delivery + scheduler wiring (Phase 28 C)
  packages/server/src/automation/delivery.ts
  packages/server/src/gateway/rpc/methods/schedule.ts
  packages/server/src/gateway/server.ts
  packages/server/src/gateway/ws/connection.ts
  packages/server/src/main.ts
  packages/types/src/gateway.ts
Due: lint, format-check

feat(web): add automation Settings section + schedule form modal (Phase 28 D)
  packages/web/src/app-gateway.ts
  packages/web/src/views/schedule-form.ts
  packages/web/src/views/settings-view.ts
Due: lint, format-check

test(server/automation): add scheduler failure-handling regression (Phase 28 E)
  packages/server/src/automation/scheduler.test.ts
Due: lint, format-check

docs(phase28): add review with implementation, refactoring, and test scenarios
  plans/phase28/review.md
Due: format-check

docs(readme): rewrite README with feature catalog, architecture, and ops manual
  CLAUDE.md
  README.md
Due: format-check

docs(plans): add phase29-31 plans + harness pointer
  CLAUDE.md
  plans/phase29/plan.md
  plans/phase29/todo.md
  plans/phase30/plan.md
  plans/phase30/todo.md
  plans/phase31/plan.md
  plans/phase31/todo.md
Due: format-check

docs(plans): add phase32 backend-as-cli plan
  plans/phase32/plan.md
  plans/phase32/todo.md
Due: format-check

docs(audit): recognize learning motive + add meta-evaluation appendix
  .claude/skills/finclaw-maturity-audit/SKILL.md
  .claude/skills/finclaw-maturity-audit/references/rubric.md
  CLAUDE.md
  _workspace/audit/SUMMARY.md
Due: format-check

docs(plans): add phase33 final plan (KIS sync + news memorization)
  plans/phase33/plan.md
Due: format-check

chore(harness): remove phase26-orchestrator and unused maturity-synthesizer
  .claude/agents/maturity-synthesizer.md
  .claude/skills/phase26-orchestrator/SKILL.md
  CLAUDE.md
Due: format-check

chore(harness): remove skills not referenced by current agents
  .claude/skills/finclaw-pipeline-stage/SKILL.md
  .claude/skills/finclaw-rag-injection/SKILL.md
  .claude/skills/finclaw-rpc-design/SKILL.md
  .claude/skills/finclaw-schema-migration/SKILL.md
  .claude/skills/finclaw-testing/SKILL.md
  .claude/skills/readme-claim-verification/SKILL.md
  .claude/skills/readme-orchestrator/SKILL.md
  .claude/skills/readme-section-conventions/SKILL.md
Due: format-check

chore(harness): consolidate harnesses to OpenClaw-similarity + phase-finalize
  .claude/agents/architecture-auditor.md
  .claude/agents/interface-channels-auditor.md
  .claude/agents/memory-knowledge-auditor.md
  .claude/agents/openclaw-similarity-synthesizer.md
  .claude/agents/phase-qa-engineer.md
  .claude/agents/phase-refactor-expert.md
  .claude/agents/pipeline-engineer.md
  .claude/agents/qa-engineer.md
  .claude/agents/rag-engineer.md
  .claude/agents/readme-architecture-mapper.md
  .claude/agents/readme-author.md
  .claude/agents/readme-feature-cataloger.md
  .claude/agents/readme-ops-documenter.md
  .claude/agents/readme-product-positioner.md
  .claude/agents/readme-verifier.md
  .claude/agents/rpc-engineer.md
  .claude/agents/runtime-tools-auditor.md
  .claude/agents/schema-architect.md
  .claude/agents/ui-engineer.md
  .claude/skills/finclaw-maturity-audit/SKILL.md
  .claude/skills/finclaw-maturity-audit/references/rubric.md
  .claude/skills/finclaw-openclaw-similarity/SKILL.md
  .claude/skills/finclaw-openclaw-similarity/references/comparison-rubric.md
  .claude/skills/finclaw-openclaw-similarity/references/openclaw-pattern-map.md
  .claude/skills/finclaw-phase-finalize/SKILL.md
  .claude/skills/finclaw-phase-finalize/references/qa-checklist.md
  .claude/skills/finclaw-phase-finalize/references/refactor-criteria.md
  .claude/skills/finclaw-phase-finalize/references/review-md-template.md
  CLAUDE.md
  _workspace/01_milestone_A_summary.md
  _workspace/03_pipeline-engineer_memory-capture.md
Due: format-check

chore: ignore _workspace/ harness artifacts
  .gitignore
  _workspace/01_schema-architect_migration.md
  _workspace/02_milestone_B_summary.md
  _workspace/02_rpc-engineer_finance.md
  _workspace/03_milestone_C_summary.md
  _workspace/03_rpc-engineer_memory.md
  _workspace/04_milestone_D_summary.md
  _workspace/04_pipeline-engineer_retrieval-wiring.md
  _workspace/04_rag-engineer_retrieval.md
  _workspace/05_milestone_E_summary.md
  _workspace/05_rag-engineer_attach-memory.md
  _workspace/05_rpc-engineer_agent-runs.md
  _workspace/05_schema-architect_agent-runs.md
  _workspace/06_ui-engineer_web.md
  _workspace/PHASE26_DONE.md
  _workspace/audit/SUMMARY.md
  _workspace/audit/architecture.md
  _workspace/audit/interface-channels.md
  _workspace/audit/memory-knowledge.md
  _workspace/audit/runtime-tools.md
  _workspace/openclaw-similarity/SUMMARY-v2.md
  _workspace/openclaw-similarity/SUMMARY.md
  _workspace/openclaw-similarity/architecture.md
  _workspace/openclaw-similarity/deep-automation.md
  _workspace/openclaw-similarity/deep-memory.md
  _workspace/openclaw-similarity/interface-channels.md
  _workspace/openclaw-similarity/memory-knowledge.md
  _workspace/openclaw-similarity/openclaw-uniqueness.md
  _workspace/openclaw-similarity/runtime-tools.md
  _workspace/qa_milestone_A.md
  _workspace/qa_milestone_B.md
  _workspace/qa_milestone_E_and_integration.md
  _workspace/readme/01_positioner_dossier.md
  _workspace/readme/02_author_draft.md
  _workspace/readme/02_features_catalog.md
  _workspace/readme/03_architecture_map.md
  _workspace/readme/04_author_final.md
  _workspace/readme/04_ops_manual.md
  _workspace/readme/05_verifier_report.md
Due: format-check

Path conditions:
  lint: any of: *.{ts,mts,js,mjs}
  format-check: any of: *.{ts,mts,js,mjs,json,yaml,yml,md}
