Repository Nyam2C/FinClaw: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lefthook.yml:

# lefthook.yml
rc: ./.lefthookrc

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,mts,js,mjs}'
      run: npx oxlint --config oxlintrc.json {staged_files}
    format-check:
      glob: '*.{ts,mts,js,mjs,json,yaml,yml,md}'
      run: npx oxfmt --check {staged_files}
    typecheck:
      run: npx tsgo --noEmit

commit-msg:
  commands:
    conventional:
      run: |
        MSG=$(head -1 .git/COMMIT_EDITMSG)
        if ! echo "$MSG" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,}'; then
          echo "ERROR: Commit message must follow Conventional Commits format"
          echo "  e.g., feat(agent): add tool registration"
          echo "  e.g., fix: resolve sqlite connection leak"
          exit 1
        fi

fix(channel-discord): wire up command router and approval handler in setup(), unify DiscordAccount type
  packages/channel-discord/src/adapter.ts
  packages/channel-discord/src/buttons.ts
  packages/channel-discord/src/commands/news.ts
  packages/channel-discord/src/types.ts
Due: lint, format-check

feat(cli): scaffold CLI entry point, fast-path routing, and DI container (phase 13 todo-1)
  packages/server/bin/finclaw.js
  packages/server/package.json
  packages/server/src/cli/__tests__/deps.test.ts
  packages/server/src/cli/__tests__/gateway-client.test.ts
  packages/server/src/cli/__tests__/program.test.ts
  packages/server/src/cli/__tests__/route.test.ts
  packages/server/src/cli/__tests__/test-helpers.ts
  packages/server/src/cli/deps.ts
  packages/server/src/cli/entry.ts
  packages/server/src/cli/exit-codes.ts
  packages/server/src/cli/gateway-client.ts
  packages/server/src/cli/index.ts
  packages/server/src/cli/preaction.ts
  packages/server/src/cli/program.ts
  packages/server/src/cli/route.ts
  packages/server/src/cli/terminal/__tests__/table.test.ts
  packages/server/src/cli/terminal/table.ts
  packages/server/src/cli/terminal/theme.ts
  plans/phase13/plan.md
  plans/phase13/review-1.md
  plans/phase13/todo-1.md
  plans/phase13/todo-2.md
  pnpm-lock.yaml
Due: lint, format-check

feat(cli): implement CLI commands and resolve review issues (phase 13 todo-2)
  packages/server/src/cli/__tests__/gateway-client.test.ts
  packages/server/src/cli/__tests__/program.test.ts
  packages/server/src/cli/__tests__/route.test.ts
  packages/server/src/cli/__tests__/test-helpers.ts
  packages/server/src/cli/commands/__tests__/config.test.ts
  packages/server/src/cli/commands/__tests__/market.test.ts
  packages/server/src/cli/commands/__tests__/news.test.ts
  packages/server/src/cli/commands/agent.ts
  packages/server/src/cli/commands/alert.ts
  packages/server/src/cli/commands/channel.ts
  packages/server/src/cli/commands/config.ts
  packages/server/src/cli/commands/market.ts
  packages/server/src/cli/commands/news.ts
  packages/server/src/cli/commands/start.ts
  packages/server/src/cli/commands/stop.ts
  packages/server/src/cli/deps.ts
  packages/server/src/cli/gateway-client.ts
  packages/server/src/cli/preaction.ts
  packages/server/src/cli/program.ts
  packages/server/src/cli/route.ts
  packages/server/src/cli/terminal/__tests__/table.test.ts
  packages/server/src/cli/terminal/table.ts
  packages/server/src/cli/terminal/theme.ts
Due: lint, format-check

docs: add phase 13 review-2 plan
  plans/phase13/review-2.md
Due: format-check

fix(cli): resolve tsc --build errors for exit never type and mock casts
  packages/server/src/cli/__tests__/deps.test.ts
  packages/server/src/cli/__tests__/test-helpers.ts
  packages/server/src/cli/entry.ts
Due: lint, format-check

feat(storage): implement DB initialization, schema, and table CRUDs (phase 14 todo-1)
  packages/storage/package.json
  packages/storage/src/database.test.ts
  packages/storage/src/database.ts
  packages/storage/src/index.ts
  packages/storage/src/tables/alerts.ts
  packages/storage/src/tables/conversations.ts
  packages/storage/src/tables/embeddings.ts
  packages/storage/src/tables/market-cache.storage.test.ts
  packages/storage/src/tables/market-cache.ts
  packages/storage/src/tables/memories.ts
  packages/storage/src/tables/messages.storage.test.ts
  packages/storage/src/tables/messages.ts
  plans/phase14/plan.md
  plans/phase14/review-1.md
  plans/phase14/todo-1.md
  pnpm-lock.yaml
Due: lint, format-check

feat(storage): implement FTS5, vector search, hybrid search, embeddings, and atomic reindex (phase 14 todo-2)
  packages/storage/src/embeddings/anthropic.ts
  packages/storage/src/embeddings/openai.ts
  packages/storage/src/embeddings/provider.ts
  packages/storage/src/reindex.ts
  packages/storage/src/search/fts.storage.test.ts
  packages/storage/src/search/fts.ts
  packages/storage/src/search/hybrid.test.ts
  packages/storage/src/search/hybrid.ts
  packages/storage/src/search/vector.storage.test.ts
  packages/storage/src/search/vector.ts
  packages/storage/src/tables/memories.storage.test.ts
  plans/phase14/review-2.md
  plans/phase14/todo-2.md
  plans/phase15/plan.md
Due: lint, format-check

fix(storage): resolve phase 14 review issues — DDL constraints, N+1 query, error handling, WAL cleanup order
  packages/storage/src/database.ts
  packages/storage/src/embeddings/provider.ts
  packages/storage/src/index.ts
  packages/storage/src/reindex.ts
  packages/storage/src/search/hybrid.ts
  packages/storage/src/search/vector.ts
  packages/storage/src/tables/conversations.ts
  packages/storage/src/tables/embeddings.ts
  packages/storage/src/tables/memories.ts
  packages/storage/src/tables/messages.ts
Due: lint, format-check

feat(server): implement support services — hooks, cron, security, daemon (phase 15)
  packages/server/package.json
  packages/server/src/services/cron/jobs/alert-check.ts
  packages/server/src/services/cron/jobs/cleanup.ts
  packages/server/src/services/cron/jobs/market-refresh.ts
  packages/server/src/services/cron/scheduler.test.ts
  packages/server/src/services/cron/scheduler.ts
  packages/server/src/services/daemon/systemd.ts
  packages/server/src/services/hooks/bridge.ts
  packages/server/src/services/hooks/registry.test.ts
  packages/server/src/services/hooks/registry.ts
  packages/server/src/services/hooks/runner.test.ts
  packages/server/src/services/hooks/runner.ts
  packages/server/src/services/hooks/types.ts
  packages/server/src/services/index.ts
  packages/server/src/services/security/audit.test.ts
  packages/server/src/services/security/audit.ts
  packages/server/src/services/security/redaction.test.ts
  packages/server/src/services/security/redaction.ts
  packages/storage/src/index.ts
  plans/phase15/review.md
  plans/phase15/todo.md
  pnpm-lock.yaml
Due: lint, format-check

feat(skills-finance): implement market data skill — 3 providers, cache, charts (phase 16)
  packages/skills-finance/package.json
  packages/skills-finance/src/index.ts
  packages/skills-finance/src/market/cache.test.ts
  packages/skills-finance/src/market/cache.ts
  packages/skills-finance/src/market/charts.test.ts
  packages/skills-finance/src/market/charts.ts
  packages/skills-finance/src/market/formatters.ts
  packages/skills-finance/src/market/index.ts
  packages/skills-finance/src/market/normalizer.test.ts
  packages/skills-finance/src/market/normalizer.ts
  packages/skills-finance/src/market/provider-registry.ts
  packages/skills-finance/src/market/providers/alpha-vantage.test.ts
  packages/skills-finance/src/market/providers/alpha-vantage.ts
  packages/skills-finance/src/market/providers/coingecko.ts
  packages/skills-finance/src/market/providers/frankfurter.ts
  packages/skills-finance/src/market/types.ts
  packages/skills-finance/tsconfig.json
  packages/storage/src/index.ts
  packages/storage/src/tables/market-cache.ts
  plans/phase16/plan.md
  plans/phase16/review.md
  plans/phase16/todo.md
  pnpm-lock.yaml
Due: lint, format-check

fix(skills-finance): strengthen type safety and error handling in market data skill
  packages/skills-finance/src/market/cache.ts
  packages/skills-finance/src/market/charts.ts
  packages/skills-finance/src/market/formatters.ts
  packages/skills-finance/src/market/index.ts
  packages/skills-finance/src/market/normalizer.ts
Due: lint, format-check

feat(skills-finance): implement news & AI analysis skill — 3 providers, portfolio tracking (phase 17)
  packages/skills-finance/package.json
  packages/skills-finance/src/index.ts
  packages/skills-finance/src/news/aggregator.ts
  packages/skills-finance/src/news/analysis/__tests__/sentiment.test.ts
  packages/skills-finance/src/news/analysis/market-analysis.ts
  packages/skills-finance/src/news/analysis/sentiment.ts
  packages/skills-finance/src/news/index.ts
  packages/skills-finance/src/news/portfolio/__tests__/tracker.test.ts
  packages/skills-finance/src/news/portfolio/store.ts
  packages/skills-finance/src/news/portfolio/tracker.ts
  packages/skills-finance/src/news/providers/__tests__/alpha-vantage-news.test.ts
  packages/skills-finance/src/news/providers/__tests__/newsapi.test.ts
  packages/skills-finance/src/news/providers/alpha-vantage-news.ts
  packages/skills-finance/src/news/providers/newsapi.ts
  packages/skills-finance/src/news/providers/rss.ts
  packages/skills-finance/src/news/tools.ts
  packages/skills-finance/src/news/types.ts
  packages/storage/src/database.ts
  plans/phase17/plan.md
  plans/phase17/review.md
  plans/phase17/todo.md
  pnpm-lock.yaml
Due: lint, format-check

fix(skills-finance): resolve phase 17 review issues — eliminate double getQuote, improve type safety
  packages/skills-finance/src/news/portfolio/tracker.ts
  packages/skills-finance/src/news/providers/alpha-vantage-news.ts
  packages/skills-finance/src/news/providers/newsapi.ts
  packages/skills-finance/src/news/providers/rss.ts
  packages/skills-finance/src/news/tools.ts
Due: lint, format-check

fix(storage): update database test expectations for schema v2 (portfolio tables)
  packages/storage/src/database.test.ts
Due: lint, format-check

feat(skills-finance): implement alert system — 4 condition types, monitor engine, multi-channel delivery (phase 18)
  packages/channel-discord/src/commands/alert.ts
  packages/skills-finance/src/alerts/__tests__/conditions.test.ts
  packages/skills-finance/src/alerts/__tests__/delivery.test.ts
  packages/skills-finance/src/alerts/__tests__/monitor.test.ts
  packages/skills-finance/src/alerts/__tests__/store.test.ts
  packages/skills-finance/src/alerts/__tests__/tools.test.ts
  packages/skills-finance/src/alerts/conditions/change.ts
  packages/skills-finance/src/alerts/conditions/news.ts
  packages/skills-finance/src/alerts/conditions/price.ts
  packages/skills-finance/src/alerts/conditions/volume.ts
  packages/skills-finance/src/alerts/delivery.ts
  packages/skills-finance/src/alerts/index.ts
  packages/skills-finance/src/alerts/market-service.ts
  packages/skills-finance/src/alerts/monitor.ts
  packages/skills-finance/src/alerts/store.ts
  packages/skills-finance/src/alerts/tools.ts
  packages/skills-finance/src/alerts/types.ts
  packages/skills-finance/src/index.ts
  packages/storage/src/database.test.ts
  packages/storage/src/database.ts
  plans/phase18/plan.md
  plans/phase18/review.md
  plans/phase18/todo.md
Due: lint, format-check

fix(skills-finance): expose triggerCount in AlertDefinition, fix review issues (phase 18)
  packages/channel-discord/src/commands/alert.ts
  packages/skills-finance/src/alerts/__tests__/delivery.test.ts
  packages/skills-finance/src/alerts/__tests__/monitor.test.ts
  packages/skills-finance/src/alerts/__tests__/store.test.ts
  packages/skills-finance/src/alerts/delivery.ts
  packages/skills-finance/src/alerts/store.ts
  packages/skills-finance/src/alerts/tools.ts
  packages/skills-finance/src/alerts/types.ts
Due: lint, format-check

fix(skills-finance): resolve tsc build error in tools.test.ts — extract ToolExecutor type
  packages/skills-finance/src/alerts/__tests__/tools.test.ts
Due: lint, format-check

fix(skills-finance): use runtime null guard instead of as-cast in tools.test.ts
  packages/skills-finance/src/alerts/__tests__/tools.test.ts
Due: lint, format-check

feat(tui): implement TUI package with shared notification types (phase 19, todo-1)
  packages/server/src/gateway/rpc/types.ts
  packages/tui/package.json
  packages/tui/src/App.tsx
  packages/tui/src/ChatView.tsx
  packages/tui/src/DashboardView.tsx
  packages/tui/src/StatusBar.tsx
  packages/tui/src/__tests__/chat.test.ts
  packages/tui/src/__tests__/gateway-client.test.ts
  packages/tui/src/gateway-client.ts
  packages/tui/src/index.ts
  packages/tui/tsconfig.json
  packages/types/src/index.ts
  packages/types/src/notification.ts
  plans/phase19/plan.md
  plans/phase19/review-1.md
  plans/phase19/todo-1.md
  plans/phase19/todo-2.md
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format-check

feat(web): add web control panel package with token-based WebSocket auth (phase 19, todo-2)
  packages/server/package.json
  packages/server/src/cli/__tests__/program.test.ts
  packages/server/src/cli/commands/tui.ts
  packages/server/src/cli/program.ts
  packages/server/src/gateway/auth/index.ts
  packages/server/tsconfig.json
  packages/types/src/config.ts
  packages/web/package.json
  packages/web/src/__tests__/app-chat.test.ts
  packages/web/src/__tests__/app-gateway.test.ts
  packages/web/src/app-chat.ts
  packages/web/src/app-gateway.ts
  packages/web/src/app.ts
  packages/web/src/index.html
  packages/web/src/main.ts
  packages/web/src/markdown.ts
  packages/web/src/styles/theme.css
  packages/web/src/views/alerts-view.ts
  packages/web/src/views/market-view.ts
  packages/web/src/views/portfolio-view.ts
  packages/web/src/views/settings-view.ts
  packages/web/tsconfig.json
  packages/web/vite.config.ts
  plans/phase19/review-2.md
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format-check

fix(tui,web): resolve stale closure, pending request leak, and harden web security (phase 19, todo-3)
  packages/server/src/cli/commands/tui.ts
  packages/server/src/gateway/auth/index.test.ts
  packages/server/src/gateway/auth/index.ts
  packages/tui/src/App.tsx
  packages/tui/src/__tests__/gateway-client.test.ts
  packages/tui/src/gateway-client.ts
  packages/web/package.json
  packages/web/src/__tests__/app-gateway.test.ts
  packages/web/src/app-chat.ts
  packages/web/src/app-gateway.ts
  packages/web/src/markdown.ts
  packages/web/tsconfig.json
  pnpm-lock.yaml
Due: lint, format-check

fix(tui): add curly braces to satisfy eslint curly rule
  packages/tui/src/App.tsx
  packages/tui/src/ChatView.tsx
  packages/tui/src/DashboardView.tsx
Due: none

feat: add plugin template, build scripts, CI/CD, and resolve version hardcoding (phase 20)
  .github/dependabot.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  extensions/plugin-template/finclaw-plugin.json
  extensions/plugin-template/package.json
  extensions/plugin-template/src/index.ts
  packages/channel-discord/package.json
  packages/server/src/gateway/health.test.ts
  packages/server/src/gateway/health.ts
  packages/server/src/gateway/router.ts
  packages/server/src/gateway/rpc/methods/system.ts
  packages/server/src/gateway/version.ts
  plans/phase20/plan.md
  plans/phase20/review.md
  plans/phase20/todo.md
  pnpm-lock.yaml
  scripts/build-skills.ts
  scripts/calver.ts
  scripts/check-dep-versions.ts
  scripts/write-build-info.ts
Due: lint, format-check

fix(scripts): replace execSync with execFileSync in calver.ts and add review TODOs
  .github/workflows/release.yml
  extensions/plugin-template/src/index.ts
  scripts/build-skills.ts
  scripts/calver.ts
  scripts/write-build-info.ts
Due: lint, format-check

fix(plans): align README.md numbers with actual codebase
  plans/README.md
Due: format-check

feat(server): activate auto-reply pipeline with Discord wiring (phase 21, milestone A)
  packages/channel-discord/src/index.ts
  packages/server/src/auto-reply/__tests__/execution-adapter.test.ts
  packages/server/src/auto-reply/__tests__/tool-dispatcher-adapter.test.ts
  packages/server/src/auto-reply/execution-adapter.ts
  packages/server/src/auto-reply/pipeline-context.ts
  packages/server/src/auto-reply/tool-dispatcher-adapter.ts
  packages/server/src/main.test.ts
  packages/server/src/main.ts
  packages/storage/src/index.ts
  packages/storage/src/tables/conversations.test.ts
  packages/storage/src/tables/conversations.ts
  packages/types/src/storage.ts
Due: lint, format-check

feat(skills-general): add general-purpose tools (get_current_datetime, web_fetch, read_local_file)
  packages/agent/src/agents/tools/registry.ts
  packages/skills-general/package.json
  packages/skills-general/src/datetime.test.ts
  packages/skills-general/src/datetime.ts
  packages/skills-general/src/file-read.test.ts
  packages/skills-general/src/file-read.ts
  packages/skills-general/src/index.ts
  packages/skills-general/src/web-fetch.test.ts
  packages/skills-general/src/web-fetch.ts
  packages/skills-general/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format-check

docs(plans): add phase 21 plan and todo breakdown
  plans/phase21/plan.md
  plans/phase21/todo.md
Due: format-check

feat(server): wire storage + skills-general tools into auto-reply (phase 21, milestone B partial)
  packages/server/package.json
  packages/server/src/main.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: lint, format-check

feat(server): wire market tools into auto-reply (phase 21, milestone B)
  packages/server/src/main.ts
  packages/storage/src/index.ts
Due: lint, format-check

refactor(server): convert chat/session RPC to factories (phase 21, todo 6)
  packages/server/src/gateway/registry.ts
  packages/server/src/gateway/rpc/methods/chat.test.ts
  packages/server/src/gateway/rpc/methods/chat.ts
  packages/server/src/gateway/rpc/methods/session.test.ts
  packages/server/src/gateway/rpc/methods/session.ts
  packages/server/src/gateway/rpc/types.ts
  packages/server/src/gateway/server.test.ts
  packages/server/src/gateway/server.ts
  packages/server/src/main.ts
Due: lint, format-check

feat(gateway): wire chat.send to executeForTui for TUI streaming (phase 21, todo 7)
  packages/server/src/auto-reply/execution-adapter.ts
  packages/server/src/gateway/registry.test.ts
  packages/server/src/gateway/rpc/methods/chat.test.ts
  packages/server/src/gateway/rpc/methods/chat.ts
  packages/server/src/gateway/server.test.ts
  packages/server/src/gateway/server.ts
  packages/server/src/main.ts
Due: lint, format-check

chore: ignore .claude/ runtime files
  .gitignore
Due: none

feat(docker): add pnpm setup and dev:all entrypoints
  .env.example
  Dockerfile
  docker-compose.yml
  package.json
  scripts/dev-all.sh
  scripts/setup.sh
Due: format-check

fix(pnpm): swallow lefthook install errors in prepare script
  package.json
Due: format-check

fix(docker): use pnpm exec for vite preview to pass flags correctly
  docker-compose.yml
Due: format-check

fix(channel-discord): survive unknown-channel errors and route replies via DM fallback
  packages/channel-discord/src/adapter.ts
  packages/channel-discord/src/sender.ts
Due: lint, format-check

fix(agent): convert internal messages to proper Anthropic format
  packages/agent/src/providers/anthropic.ts
Due: lint, format-check

docs(plans): add phase 22 plan + todo, phase 21 review
  plans/phase21/review.md
  plans/phase22/plan.md
  plans/phase22/todo.md
Due: format-check

feat(server): finance-partner persona system prompt (phase 22, todo 1)
  packages/server/src/main.ts
Due: lint, format-check
